{% extends 'base.html' %}
{% block title %}
    edit {{under_programme}}
{% endblock %}
{% block content %}
    
    <div class="container col-md-10 post-form">
        <h4>Edit {{under_programme}}</h4>
        <hr class="bg-danger">
        <form action="{{ url_for('admin_panel.edit_undegrad_programme',undegrad_programme_id=under_programme.id) }}" method="post">
            <div class="modal-body">
                {{form.hidden_tag()}}
                <div class="form-group">
                    <label for="department_name">{{form.programme_name.label}}</label>
                    {% for error in form.programme_name.errors %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{error}}
                    {% endfor %}
                    {{form.programme_name(class="form-control")}}
                </div>
                <div class="form-group">
                    <label for="programme_duration_direct">{{form.programme_duration_direct.label}}</label>
                    {% for error in form.programme_duration_direct.errors %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{error}}
                    {% endfor %}
                    {{form.programme_duration_direct(class="form-control")}}
                </div>
                <div class="form-group">
                    <label for="programme_duration_topup">{{form.programme_duration_topup.label}}</label>
                    {% for error in form.programme_duration_topup.errors %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{error}}
                    {% endfor %}
                    {{form.programme_duration_topup(class="form-control")}}
                </div>
                <div class="form-group">
                    <label for="department_name">{{form.cut_off_point.label}}</label>
                    {% for error in form.cut_off_point.errors %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{error}}
                    {% endfor %}
                    {{form.cut_off_point(class="form-control")}}
                </div>
                <div class="form-group">
                    <label for="min_class">{{form.min_class.label}}</label>
                    {% for error in form.min_class.errors %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{error}}
                    {% endfor %}
                    {{form.min_class(class="form-control")}}
                </div>
                <div class="form-group">
                    <label for="programme_admission_fees">{{form.programme_admission_fees.label}}</label>
                    {% for error in form.programme_admission_fees.errors %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{error}}
                    {% endfor %}
                    {{form.programme_admission_fees(class="form-control")}}
                </div>
                <div class="form-group">
                    <label for="department_name">{{form.is_avaliable.label}}</label>
                    {% for error in form.is_avaliable.errors %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{error}}
                    {% endfor %}
                    {{form.is_avaliable()}}
                </div>
            </div>
            <div class="modal-footer">
                {{form.submit(class="btn btn-success btn-block")}}
            </div>
        </form>
    </div>
{% endblock %}