{% extends 'base.html' %}

{% block title %}
    edit/{{department}}
{% endblock %}

{% block content %}
<a href="{{ url_for('admin_panel.view_departments' ) }}" class="btn btn-secondary mb-4">
    Back <i class="fas fa-hand-point-left"></i>
</a>
<div class="container col-md-10 post-form">
    <h3>Edit {{department}} Information</h3>
    <hr class="bg-danger">
    <form action="{{ url_for('admin_panel.edit_department',department_id=department.id) }}" method="post">
      <div class="modal-body">
          {{form.hidden_tag()}}
          <div class="form-group">
              <label for="department_name">{{form.department_name.label}}</label>
              {% for error in form.department_name.errors %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  {{error}}
              {% endfor %}
              {{form.department_name(class="form-control")}}
          </div>
      </div>
      <div class="modal-footer">
          {{form.submit(class="btn btn-success btn-block")}}
      </div>
    <form>
</div>
{% endblock %}
