<nav class="navbar navbar-expand-sm navbar-light bg-secondary sticky-top post-nav">
    <img class="mr-3" src="{{ url_for('static',filename='images/watermark.png' ) }}" style="height: 60px; width: 60px; border-radius: 50%;">
    <button class="navbar-toggler bg-white d-lg-none text-white" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="collapsibleNavId">
    
        <div class="nav-item active">
            <a class="nav-link text-white" href="{{ url_for('auth.buy_card' ) }}">Create Account</a>
        </div>
        <div class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('auth.admin_login' ) }}">Admin Login</a>
        </div>
        <div class="nav-item nav-right">
            <a class="nav-link text-white" href="{{ url_for('auth.apply' ) }}">Apply</a>
        </div>
    </div>


</nav>